<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <head>
    <title></title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %} {{form}}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>